:root{
    --left-space: 40px;
    --create-button-color: #596D48;
    --inputs-color-border: #E5E7EB;
    --bg-main-color:#f9fafb;
    --bg-secondary-color:white;
}

@font-face {
    font-family: northFontBold;
    src: url(../Fonts/Norse-Bold.otf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100vw;
}

.left-side {
    flex: 3;
    background-image: url('../imgs/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: max(100vh, 940px);
    width:50%;
    min-width: 250px;
    background-position: 27%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.logo{
    display: flex;
    flex-direction: row;
    font-family: northFontBold;
    height: 20vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: 200px;
    font-size: 6rem;
    color: white;
    align-items: center;
    justify-content: center;
}

#logo_img{
    width: 40%;
    max-height: 20vh;
    max-width: 160px;
}



.right-side {
    flex: 5; /* Adjust the flex value as needed */
    background-color: var(--bg-main-color);
    height: 100vh;
    /* Add additional styles for the right side as needed */
    display: flex;
    flex-direction: column;
    justify-content:center ;
    gap: 1rem;
}

.text-section{
    font-size: 120%;
    margin-left: var(--left-space);
    margin-bottom: 8px;
    max-width: 60%;
    font-weight: bolder;
}

.text-section > p:first-child{
    margin-top: 0;
}

.text-section > p:last-child{
    margin-block: 15px;
}


.form-section{
    background-color: var(--bg-secondary-color);
    box-shadow: 0 5px 5px 6px rgba(0, 0, 0, 0.1);
    height: 20rem;
}

fieldset{
    border: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

legend{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 12px;
}

fieldset > div{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}



.form{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    width: 250px;
    margin: 0.4rem;
    justify-content: left;
    margin-right: 4rem ;
}

.form > input{
    height: 2rem;
    border-radius: 5px;
    border: 1px solid var(--inputs-color-border);
    padding: 4px 8px;
}

.form > span{
  font-family: customFontBold;
  font-size: .8rem;
  color: rgb(255, 69, 100);
}


.submit{
    display: flex;
    flex-direction: column;
}

#submit-button{
    margin-top: 0.9rem;
    width: 12rem;
    height: 5rem;
    font-size: 1.5rem;
    background-color: #596D48;
    margin-inline: 2.5rem;
    border-radius: 15px;
}

.submit > p{
    font-size: 1.2rem;
}

.success{
    background: url("https://assets.digitalocean.com/labs/icons/hand-thumbs-up.svg") no-repeat;
    background-color: lightgreen;
    background-position: 95% 50%;
    background-size: 25px;
}

.error {
    background: url("https://assets.digitalocean.com/labs/icons/exclamation-triangle-fill.svg") no-repeat;
    background-color: lightsalmon;
    background-position: 95% 50%;
    background-size: 25px;
  }

input:invalid{
    border-color: red;
}

.mobile-btm-nav {
    text-decoration: none;
    display: none;
}
.mobile-btm-nav > img {
    transform: scale(.3) rotateZ(180deg);
}

@media screen and (max-width: 600px) {
    .content{
        flex-flow: column;
        height: auto;
        min-width: 250px;
    }

    .left-side{
        width: 100%;
        background-size: max(100vw, 250px) 100vh;
        min-width: 250px;
        min-height: 100vh;
    }

    .right-side{
        min-height: 100vh;
    }

    .mobile-btm-nav {
        position: absolute;
        bottom: 0;
        display: flex;
        place-self: center;
        animation: float 1s cubic-bezier(0.59, 0.575, 0.565, 1) infinite;
    }
  }

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

@media screen and (max-width: 1000px) {
    fieldset > div{
        flex-flow: row wrap;
    }

    fieldset{
        gap: 0;
    }

    .form-section{
        height: 32rem;
    }
  }